.form__button {
  width: 356.08px;
  height: 48px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  text-decoration: none;
  border: none;
  color: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  background: linear-gradient(90deg, #0278fe, #003a7b);
  border-radius: 4px;
}

.form__button:hover {
  background: linear-gradient(90deg, #0278fe25 0%, #003a7b25 100%);
}
