.photo-grid {
  padding: 118px 48px 0;
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(4, 1fr);
}

.photo-grid__image {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    padding: 64px 24px 0;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 544px) {
  .photo-grid {
    padding: 38px 16px 0;
    grid-template-columns: 1fr;
    grid-gap: 12px;
  }
}
